### 1 Серия задач

Имеется строка

In [2]:
planets = "Меркурий Венера Марс Jupiter Сатурн Уран Нептун"

Сделайте из него список (.split()) и сохраните как planet_list.

In [3]:
planets = planets.split()

Добавьте в этот список последним "Плутон"

In [4]:
planets.append('Плутон')

Между "Венера" и "Марс" добавьте "Земля"

In [5]:
planets.insert(planets.index('Марс'), 'Земля')

"Jupiter" переименуйте на "Юпитер" одной строкой кода

In [6]:
planets[planets.index('Jupiter')] = "Юпитер"

Оказывается Плутон не планета. Удалите "Плутон" из нашего списка.

In [7]:
planets.remove('Плутон')

Выведите количество планет в списке.

In [8]:
print(len(planets))

8

Покажите, используя срезы (slices) три планеты - Венера, Земля, Марс

In [9]:
print(planets[1:4])

['Венера', 'Земля', 'Марс']

Используя срезу покажите две последние планеты

In [10]:
print(planets[-2:])

['Уран', 'Нептун']

### 2 Серия задач

Имеется таблица:

|  Student | Mark |
| --- | --- |
| Джон | 4 |
| Сара | 5 |
| Девид | 5 |
| Марк | 3 |
| Клара | 2 |
| Сэм | 2 |
| Санта | 4 |
| Крис | 5 |
| Джастин | 4 |

Имеются два столбца. Создайте два списка (Student и Mark). В первом будут имена студентов по порядку, указанному в таблице. Во втором списке в таком же порядке их оценки.

In [13]:
# Создайте здесь списки
stu = {
    "Джон": 4,
    "Сара": 5,
    "Девид": 5,
    "Марк": 3,
    "Клара": 2,
    "Сэм": 2,
    "Санта": 4,
    "Крис": 5,
    "Джастин": 4,
}
student = list(stu.keys())
mark = list(stu.values())

Добавился студент по имени Рассел и с оценкой 5. Добавьте его имя и оценки в соответствующие списки.

In [14]:
student.append('Рассел')
mark.append(5)

Выведите количество студентов в списке

In [15]:
print(len(student))

10

Проверьте, имеется ли в списке студентов студент по имени Марк. Если ИСТИНА, выведите "да", иначе "нет".

In [16]:
if 'Марк' in student:
    print('Yes')
else:
    print('No')

Yes

Пробежитесь в цикле и выведите из двух списков значения таким образом, чтобы на каждой строке печаталось по следущему образцу:

"У студента по имени Джастин 4 балла"

In [17]:
for i in range(len(student)):
    print(f"У студента по имени {student[i]} {mark[i]} балла")

У студента по имени Джон 4 балла
У студента по имени Сара 5 балла
У студента по имени Девид 5 балла
У студента по имени Марк 3 балла
У студента по имени Клара 2 балла
У студента по имени Сэм 2 балла
У студента по имени Санта 4 балла
У студента по имени Крис 5 балла
У студента по имени Джастин 4 балла
У студента по имени Рассел 5 балла

Создайте копии списков: Student_2, Mark_2.

In [18]:
student_2 = student.copy()
mark_2 = mark.copy()

Из оригинальных списков (не копий) удалите студентов и их оценки, если у них 2 балла. (можно вручную по одному, либо в цикле проверяя условие: если оценка == 2.

In [21]:
c = 0
for i in student:
    if mark[c] == 2:
        student.pop(c)
        mark.pop(c)
    c += 1

Выведите с 3 по 5 включительно имена студентов.

In [22]:
print(student[3:6])

['Марк', 'Санта', 'Крис']

Выведите имена студентов через раз. Джон, Девид, Клара... и тд

In [23]:
print(','.join(student))

Джон,Сара,Девид,Марк,Санта,Крис,Джастин,Рассел

У вас сохранились копии списков (Student_2, Mark_2). Там в копии списков если оценка равна 2 - поставьте оценку 3.

In [24]:
for i in range(len(student)):
    if mark[i] == 2:
        mark[i] = 3

Посчитайте у скольких студентов оценка 5

In [25]:
count_five = 0
for i in range(len(student)):
    if mark[i] == 5:
        count_five += 1
print(count_five)

4

Выведите имена отличников (у кого 5). Через цикл и условие если оценка == 5.

In [26]:
for i in range(len(student)):
    if mark[i] == 5:
        print(student[i])

Сара
Девид
Крис
Рассел