### 1. Дается список с числами. Собрать в новом списке все числа которые меньше 10.

In [1]:
L = [-1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
small_10 = []
for i in L:
    if i < 10:
        small_10.append(i)
print(small_10)

[-1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

### 2. Дается список с числами. Собрать в новом списке все числа которые делятся на 3 и на 5.

In [3]:
L = [-1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
newlist = []
for i in L:
    if i % 3 == 0 or i % 5 == 0:
        newlist.append(i)
print(newlist)

[0, 3, 5, 6, 9, 10, 12, 15, 18]

### 3. Дается список с числами. Собрать в новом списке квадраты (во второй степени) всех чисел которые меньше 10

In [4]:
L = [-1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
newlist = [i**2 for i in L if i < 10]
print(newlist)

[1, 0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

### 4. Дается список с числами. Найдите количество положительных элементов в данном списке.

In [6]:
L = [-1, 0, -1, -2, -3, 4, 5, 6, -7, 8, 9, -10, 11, 12, -13, 14, 15, -16, 17, 18, 19]
print(len([i for i in L if i >= 0]))

13

### 5. Дается список с числами. Выведите значение наименьшего из всех положительных элементов в данном списке.

In [8]:
L = [-1, 5, -1, -2, -3, 4, 5, 6, -7, 8, 9, -10, 11, 12, -13, 14, 15, -16, 17, 18, 19]
print(min([i for i in L if i >= 0]))

4

### 6. Дается список с числами. Выведите значение наименьшего нечетного элемента в данном списке.

In [9]:
L = [-1, 5, -1, -2, -3, 4, 5, 6, -7, 8, 9, -10, 11, 12, -13, 14, 15, -16, 17, 18, 19]
print(min([i for i in L if i >= 0 and i % 2 == 1]))

5

### 7. Дается список с числами. Выведите элементы данного списка в обратном порядке.

In [10]:
L = [-1, 5, -1, -2, -3, 4, 5, 6, -7, 8, 9, -10, 11, 12, -13, 14, 15, -16, 17, 18, 19]
print(L[::-1])

[19, 18, 17, -16, 15, 14, -13, 12, 11, -10, 9, 8, -7, 6, 5, 4, -3, -2, -1, 5, -1]

### 8. Дан список. Определите, какое число в этом списке встречается чаще всего. Если таких чисел несколько, выведите любое из них.

In [16]:
L = [1, 5, 1, 2, 3, 4, 5, 6, 2, 8, 3, 1, 1, 12, 13, 14, 15, 16, 17, 12, 1, 2, 2, 2]
d = {}
for i in list(set(L.copy())):
    d[i] = L.count(i)
print(d)
v = list(d.values())
k = list(d.keys())
print(k[v.index(max(v))])

{1: 5, 2: 5, 3: 2, 4: 1, 5: 2, 6: 1, 8: 1, 12: 2, 13: 1, 14: 1, 15: 1, 16: 1, 17: 1}
1

2 6